/*------------------------------------*\
  CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * LAYOUT..............
 * BLOCK...............
 */


/*------------------------------------*\
  ==LAYOUT
\*------------------------------------*/

.page-node-1149 #content {
  min-height: 0;
  width: 390px;
}

.page-node-1149 #content .section {
  padding: 0;
}

.page-node-1149 #sidebar-second {
  width: 480px;
}

#block-block-57 {

}
















/*------------------------------------*\
  ==BLOCK
\*------------------------------------*/